<a class="glyphicon glyphicon-question-sign wiki-btn" {{action "toggleModal"}}></a>
{{#if isShowingModal}}
  {{#modal-dialog close='toggleModal' translucentOverlay=true targetAttachment='none' container-class='centered-scrolling-container' overlay-class='centered-scrolling-overlay' wrapper-class='centered-scrolling-wrapper' }}
    <h1 class="text-center">Wiki</h1>
    <div class="container-1 text-center">
      {{input type="search" value=query placeholder="Search..."}}
      <span class="icon"><i class="fa fa-search"></i></span>
    </div>
    {{#each wikisFiltered as |wiki|}}

        {{#wiki-panel wiki=wiki}}{{/wiki-panel}}

    {{/each}}
  {{/modal-dialog}}
{{/if}}
