    @charset "utf-8";
    /* CSS Document */
    
    $n:10; //play??
    $first-color: #69C96A;
    $second-color: #F9EE3D;
    $third-color: #ee6362;
    $forth-color: #2cb0b2;
    $cube-color: #2c3e50;
    .loader-text {
        font-size: 2em;
        font-weight: 400;
        margin: .5em 0;
        text-transform: uppercase;
        font: 400 200%/1.5em "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .loader-container {
        position: absolute;
                height:150px;
      width:170px;
        top: 30%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        margin-right: auto;
        margin-left: auto;
        *zoom: 1;
    }
    
    .loader-container:before,
    .loader-container:after {
        display: table;
        content: "";
        line-height: 0;
    }
    
    .loader-container:after {
        clear: both;
    }
    
    //important vars!
    .loader-cubes {
        background: $cube-color;
        height: 50px;
        width: 50px;
        -webkit-animation: load 2s infinite;
        animation: load 2s infinite;
        margin: auto;
        display: inline-block;
        //the XD Part!! XD containerS!!
        @for $i from 0 to $n {
            &:nth-child(#{$i + 1}) {
                -webkit-animation-delay: ($i* 1s / $n);
                -o-animation-delay: ($i* 1s / $n);
                -moz-animation-delay: ($i* 1s / $n);
                -animation-delay: ($i* 1s / $n);
            }
        }
    }
    
    //animation
    @-webkit-keyframes load {
        0% {
            transform: scale(0.1);
        }
        50% {
            transform: scale(1);
        }
        100% {
            transform: scale(0.1);
        }
    }
    
    @-moz-keyframes load {
        0% {
            transform: scale(0.1);
        }
        50% {
            transform: scale(1);
        }
        100% {
            transform: scale(0.1);
        }
    }
    
    @-ms-keyframes load {
        0% {
            transform: scale(0.1);
        }
        50% {
            transform: scale(1);
        }
        100% {
            transform: scale(0.1);
        }
    }
    
    @-o-keyframes load {
        0% {
            transform: scale(0.1);
        }
        50% {
            transform: scale(1);
        }
        100% {
            transform: scale(0.1);
        }
    }
    
    @keyframes load {
        0% {
            transform: scale(0.1);
        }
        50% {
            transform: scale(1);
        }
        100% {
            transform: scale(0.1);
        }
    }
