<div class="modal fade">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
    {{#unless noClose}}
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      {{/unless}}
      <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">
      {{yield}}
    </div>
    <div class="modal-footer">
      {{#unless noClose}}
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      {{/unless}}
      <button type="button" class="btn btn-primary" {{action 'ok'}}>OK</button>
    </div>
  </div>
</div>
</div>