<div class="row">
  <div class="col col-md-10">
    <h1>
      Q&A
    </h1>
  </div>
</div>
<div class="row">
  <ul class="nav nav-tabs col-md-10">
    {{#link-to 'discussions.index' tagName="li"}}
      <a href>newest <span style="font-size:10px; padding-top:4px; padding-left:6px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-time"></span></a>
    {{/link-to}}
    {{#link-to 'discussions.top' tagName="li"}}
      <a href>top <span style="font-size:10px; padding-top:4px; padding-left:6px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-star"></span></a>
    {{/link-to}}
    {{#link-to 'discussions.my-posts' tagName="li"}}
      <a href>my posts</a>
    {{/link-to}}
    {{#link-to 'discussions.new' }}
        <button class="btn btn-success btn-add">New Question
          <span style="font-size:16px; padding-left:12px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-plus"></span>
        </button>
    {{/link-to}}
  </ul>

  <!--Content Goes Here-->
    {{outlet}}

</div>
