<section class="description panel panel-default">
  <div class="panel-heading">
    <span class="pull-right label label-primary">awards {{model.challenge.exp}} Exp</span>
    <h2 class="panel-title">{{model.challenge.name}}</h2>
</div>
  <div class="panel-body">
    {{marked-math model=model.challenge.blueprint observable='description' }}
  </div>
</section>
{{component (concat 'challenge/challenge-trial-')
    model=model
    run="run"
    test="test"
    }}